{% load static %}
<footer class="footer text-white pt-5 pb-4">
  <div class="container text-center text-md-left position-relative">
    <div class="row">
      <!-- About Us Column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">About Us</h5>
        <p>
          G.M Orina & Co. Advocates is a medium sized law firm providing legal
          counsel and solutions to a wide range of clients in Kenya, Africa and
          globally.
        </p>
      </div>

      <!-- Quick Links Column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
        <p>
          <a
            href="{%url 'home'%}"
            class="text-white"
            style="text-decoration: none"
            >Home</a
          >
        </p>

        <p>
          <a href="#" class="text-white" style="text-decoration: none"
            >Practice Areas</a
          >
        </p>
        <p>
          <a
            href="{% url 'about_us' %}"
            class="text-white"
            style="text-decoration: none"
            >About Us</a
          >
        </p>
        <p>
          <a
            href="{% url 'home' %}#contact"
            class="text-white"
            style="text-decoration: none"
            >Contact Us</a
          >
        </p>
      </div>

      <!-- Contact Us Column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
        <p>
          <i class="fas fa-home mr-3"></i> Krishna Centre, 7 th Floor, Suite 712
          Woodvale Groove, Westlands
        </p>
        <p><i class="fas fa-envelope mr-3"></i>gmorinaadvocates@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> +254712694826</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Find Us</h5>
        <div class="map-container">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3983.6536096160503!2d36.80133397496564!3d-1.264028598723937!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMcKwMTUnNTAuNSJTIDM2wrA0OCcxNC4xIkU!5e1!3m2!1sen!2ske!4v1741006007439!5m2!1sen!2ske"
            width="600"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>

    <hr class="mb-4" />

    <!-- Copyright Row -->
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">
          © {% now "Y" %} E.M David Advocates. All rights reserved.
        </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <p class="text-center text-md-right">Designed by KakaDev</p>
      </div>
    </div>
  </div>
</footer>
