{% load static %}
<footer class="footer text-white pt-5 pb-4">
  <div class="container text-center text-md-left position-relative">
    <div class="row">
      <!-- About Us Column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">About Us</h5>
        <p>
          G.M Orina & Co. Advocates is a medium sized law firm providing legal
          counsel and solutions to a wide range of clients in Kenya, Africa and
          globally.
        </p>
      </div>

      <!-- Quick Links Column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Quick Links</h5>
        <p>
          <a
            href="{%url 'home'%}"
            class="text-white"
            style="text-decoration: none"
            >Home</a
          >
        </p>

        <p>
          <a href="#" class="text-white" style="text-decoration: none"
            >Practice Areas</a
          >
        </p>
        <p>
          <a
            href="{% url 'about_us' %}"
            class="text-white"
            style="text-decoration: none"
            >About Us</a
          >
        </p>
        <p>
          <a
            href="{% url 'home' %}#contact"
            class="text-white"
            style="text-decoration: none"
            >Contact Us</a
          >
        </p>
      </div>

      <!-- Contact Us Column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Contact Us</h5>
        <p>
          <i class="fas fa-home mr-3"></i> Krishna Centre, 7 th Floor, Suite 712
          Woodvale Groove, Westlands
        </p>
        <p><i class="fas fa-envelope mr-3"></i>gmorinaadvocates@gmail.com</p>
        <p><i class="fas fa-phone mr-3"></i> +254712694826</p>
      </div>
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h5 class="text-uppercase mb-4 font-weight-bold">Reviews</h5>
        <div class="elfsight-widget">
          <script src="https://apps.elfsight.com/p/platform.js" defer></script>
          <div
            class="elfsight-app-32de8ae5-f5ad-4dbb-893a-e04eccf15800"
            data-elfsight-app-lazy
          ></div>
        </div>
      </div>
    </div>

    <hr class="mb-4" />

    <!-- Copyright Row -->
    <div class="row">
      <div class="col-md-7 col-lg-8">
        <p class="text-center text-md-left">
          © {% now "Y" %} E.M David Advocates. All rights reserved.
        </p>
      </div>

      <div class="col-md-5 col-lg-4">
        <p class="text-center text-md-right">Designed by KakaDev</p>
      </div>
    </div>
  </div>
</footer>
