{% load static%}
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="{% static 'images/gm logo.PNG' %}" alt="Law Firm Logo" />
      <span>G.M ORINA & CO. ADVOCATES</span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'about_us' %}">About</a>
        </li>
        <li class="nav-item">
          {% if first_practice_area %}
          <a
            class="nav-link"
            href="{% url 'practice_area_detail' first_practice_area.slug %}"
          >
            Practice Areas
          </a>
          {% else %}
          <a class="nav-link" href="#">Practice Areas</a>
          <!-- Placeholder if none exist -->
          {% endif %}
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'team' %}">Our Team</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'blog_page' %}">Insights</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'careers' %}">Careers</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
