{% load static %}
<div class="top-bar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="contact-info d-flex align-items-center">
      <span
        ><i class="fa fa-phone" aria-hidden="true"></i> Call:
        +254712694826</span
      >
      <span
        ><i class="fas fa-envelope"></i>
        <a href="mailto:gmorinaadvocates@gmail.com"
          >gmorinaadvocates@gmail.com</a
        ></span
      >
      <span
        ><i class="fas fa-map-marker-alt"></i> Krishna Centre, 7 th Floor, Suite
        712 Woodvale Groove, Westlands
      </span>
    </div>
    <div class="social-icons">
      <a href="https://wa.me/254712694826"><i class="fab fa-whatsapp"></i></a>
    </div>
  </div>
</div>
