{% load static %}
<div class="top-bar">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="contact-info d-flex align-items-center">
      <span
        ><i class="fa fa-phone" aria-hidden="true"></i> Call: +254
        727507705</span
      >
      <span
        ><i class="fas fa-envelope"></i> Email: info@edavidadvocate.com</span
      >
      <span
        ><i class="fas fa-map-marker-alt"></i> Address:westlands building, 3rd
        Floor
      </span>
    </div>
    <div class="social-icons">
      <a href="#"><i class="fab fa-facebook-f"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin-in"></i></a>
    </div>
  </div>
</div>
