* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
}
/* Navbar */
.navbar {
  background: #02042f;
}
.navbar-brand img {
  height: 60px;
  margin-right: 10px;
  border-radius: 50%;
}
.navbar-brand span {
  color: white;
}

.nav-link {
  color: white !important;
  font-weight: 700;
}

.nav-link:hover {
  opacity: 0.7;
}

.dropdown-menu {
  background-color: #5D8AA8;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #d7cecb;
}
.navbar-toggler {
  border-color: rgb(173, 158, 158); 
  margin-left: auto;
}

.navbar-toggler-icon {
  background-color: white; 
}
@media (max-width:768px){
  .navbar-brand img{
    margin: 0;
  }
  .navbar-brand span {
    font-size: 24px;
  }
}
/* Top carousel styling */

.carousel-item {
  height: 60vh; /* Adjust for different screens via media queries */
  background-size: cover;
  background-position: center;
}
.carousel-caption {
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  padding: 20px;
  border-radius: 10px;
}
.carousel-item:nth-child(1) {
  background-image: url("../images/blue4.jpg");

}
.carousel-item.active .carousel-caption {
  bottom: 10vh;
  transform: translateY(-50%);
  text-align: center;
}
.carousel-item.active .carousel-caption h2 {
  color: #d9d7e4;
  font-weight: 800;
  
  text-transform: uppercase;
  
  
}


@media (max-width: 768px)  {
  .navbar-brand img{
    margin-left: 0;
  }
  
}

/* Button Styles */
.carousel-item.active .carousel-caption button {
  background-color: #1E566C;
  color: #fff;
  border: none;
  font-weight: 500;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
/* .carousel-item.active .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #eec45b;
  opacity: .7;
} */


.carousel-item.active .carousel-caption button:hover {
  background-color: #dde3ea;
  font-weight: 500;
  color: black;
}


/* Slide 2 Background and Overlay */
.carousel-item:nth-child(2) {
  background-image: url("../images/blue 3.jpg");
}
.carousel-item:nth-child(3) {
  background-image: url("../images/blue6.jpg");
  
}

/* .carousel-item:nth-child(2) .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #1E566C;
  opacity: .7;
} */

/* Ensure text and image are above the overlay */
.carousel-item:nth-child(2) .container {
  position: relative;
  z-index: 1;
}
.carousel-item:nth-child(2) .text-white {
  color: #fff;
}
.carousel-item:nth-child(2) p {
  font-size: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.carousel-item:nth-child(2) img {
  height: 50vh;
  transition: transform 0.3s ease;
}

.carousel-item:nth-child(2) img:hover {
  transform: scale(1.05);
}

.carousel-item:nth-child(3) .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7); /* Dark overlay */
}

/* Ensures content appears above the overlay */
.carousel-item:nth-child(3) .container {
  position: relative;
  z-index: 2;
}

/* Image Styling */
.carousel-item:nth-child(3) img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  background: #02042f;
}

/* Right Column Text & Icons */
.carousel-item:nth-child(3) .text-container {
  color: white;
  text-align: start;
  padding: 20px;
}
.carousel-item:nth-child(3) h3 {
  font-size: 24px;
}
.carousel-item:nth-child(3) .lead {
  color: white;
  font-size: 16px;
}

/* Align icons and text */
.carousel-item:nth-child(3) .icon-text {
  display: flex;
  align-items: center; /* Aligns icon and text */
  gap: 10px; /* Spacing between icon and text */
  margin-bottom: 20px; /* Space between sections */
}

/* Icon Styling */
.carousel-item:nth-child(3) .icon-text i {
  background-color: white;
  color: black;
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 50%;
}
/* RESPONSIVENESS */

/* Small screens (phones, max-width: 768px) */
@media (max-width: 768px) {
  .carousel-item {
    height: 70vh;
  }

  .carousel-caption {
    padding: 10px;
    font-size: 18px;
  }

  .carousel-caption h2 {
    font-size: 18px;
  }

  .carousel-caption p {
    font-size: 14px;
  }
  .carousel-item.active .carousel-caption {
    bottom: 20vh;
  }
  .carousel-item.active .carousel-caption h2 {
    font-size: 24px;
    padding-bottom: 0.5rem;
  }

  .carousel-item.active .carousel-caption button {
    font-size: 0.9rem;
    padding: 8px 15px;
  }

  .carousel-item:nth-child(2) p {
    font-size: 18px;
  }

  .carousel-item:nth-child(2) img {
    height: 35vh;
  }
}
/* bg1 */

.image-container1,
.image-container2 {
  display: block;
  width: 100vw;
  height: 60vh;

  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.image-container1 {
  background-image: url("/static/images/lawyer.jpg");
}
.image-container2 {
  background-image: url("../images/west2.png");
}
.image-container3 {
  background-image: url("../images/real.jpg");
}

.parallex1,
.parallex2 ,
.parallex3{
  position: absolute;
  color: white;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
  z-index: 2;
}
.parallex1 h1 {
  font-size: 48px;
}
.parallex1 p {
  font-size: 24px;
}
.parallex2 h3 {
  font-size: 24px;
}
.parallex2 {
  font-size: 48px;
}
.parallex2 p {
  font-size: 24px;
}
.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.contact-icons p {
  display: flex;
  gap: 15px;
  margin: 0;
}
.overlay1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: rgba(223, 155, 37, 0.5);
  transition: 0.3s ease-in-out;
}
.overlay2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background: #1E566C;
  opacity: .7;
  transition: 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .parallex1,
  .parallex2 {
    width: 100%;
  }
  .parallex1 h1 {
    font-size: 24px;
  }
  .parallex1 p {
    font-size: 16px;
  }
  .image-container1,
  .image-container2 {
    height: 50vh;
  }
  .parallex2 h3 {
    font-size: 18px;
    letter-spacing: 2px;
  }
  .parallex2 {
    font-size: 48px;
    letter-spacing: 2px;
  }
  .parallex2 p {
    font-size: 14px;
  }
}

/* our Values */
.values {
  margin-top: 0;
  margin-bottom: 1rem;
  background-color: white;
}

.values i {
  font-size: 40px;
  padding-bottom: 0.5rem;
  color: #1E566C;
}
.section-title {
  padding-top: 2.5rem;
  color: #1E566C;
  font-weight: bolder;
}
.section-title::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #06294e;
  margin: 8px auto 0;
}
.values-title {
  color: #be4b11;
}
.values-text {
  font-family: sans-serif;
}

/* Practice areas styling */
/* .practice-section {
  background: #1E566C;
  color: white;
  padding: 60px 0;
  width: 90vw;
  margin: 3rem auto;

  display: block;
}
.practice-section h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background-color: #cbd5df;
  margin: 8px auto 0;
}
.practice-section .card {
  background: #1E566C;
  color: #dde3ea;
  border-color: #d9d7e4;
  transition: transform 0.3s ease-in-out;
  margin-bottom: 2rem;
}
.practice-section .card:hover {
  background-color: #367589;
  transform: scale(1.05);
}
.practice-section .card h5 {
  text-align: center;
  color: #c7ced7;
}
.practice-section .card p {
  color: #d9d7e4;
} */

/* Insights */
.insights-container {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.insights-container h2 {
  text-align: center;
  padding-bottom: 1.5rem;
}
.image-card {
  position: relative;
  height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
}
.insights-container .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.5); /* Dark overlay */
  border-radius: 10px;
  transition: background 0.3s ease-in-out;
}

.card-body {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.7);
}

.publish-info {
  align-self: flex-start;
  font-weight: bold;
  font-size: 14px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.article-title {
  background: rgba(0, 0, 0, 0.6);
  align-self: flex-end;
  font-size: 16px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: rgb(199, 187, 187);
}
@media (max-width: 768px) {
  .image-card {
    height: 240px;
    width: 85vw;
    text-align: center;
    margin: 1rem auto;
  }

  .testimonial-image img {
    width: 150px;
  }
}

/* container-review */
.container-review {
  margin-top: 3rem;
}
.testimonial-section {
  background: #e3e3e3;
  margin: auto;
  padding: 40px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  width: 70%;
}

.testimonial-content {
  display: flex;
  align-items: center;
  max-width: 900px;
  width: 100%;
  gap: 50px;
}

.testimonial-text {
  flex: 1;
}

.testimonial-text h3 {
  font-size: 26px;
  color: #1E566C;
  font-weight: bold;
  margin-bottom: 10px;
}

.line {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: #1E566C;
  margin-bottom: 10px;
}

.testimonial-text p {
  font-size: 16px;
  color: #367589;
  font-weight: 600;
  margin-bottom: 20px;
}

.testimonial-image img {
  width: 200px;
  border-radius: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .testimonial-content {
    flex-direction: column;
    text-align: center;
  }

  .testimonial-image img {
    width: 150px;
  }
}

/* === Form Styling === */
.form-container {
  background: #f9f9f9;
  padding: 20px;
  width: 70%;
  margin-bottom: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  transition: 0.3s;
}

.form-control:focus {
  border-color: #367589;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
  outline: none;
}
.container-review h2 {
  margin: 1rem 2rem;
  font-size: 26px;
  color: #1E566C;
  font-weight: bold;
  margin-bottom: 10px;
}

/* === Button Styling === */
.btn-submit {
  background: #1E566C;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn-submit:hover {
  background-color: #05203d;
  transform: scale(1.05);
  color: white;
}

/* === Responsive Design === */
@media (max-width: 768px) {
  .row {
    flex-direction: column;
  }

  .form-container {
    padding: 15px;
    width: 90%;
  }
}
/* Footer styling */
.footer {
  position: relative;
  background: #1E566C;
  color: white;
}

.footer .container {
  position: relative;
  z-index: 2; /* Content above the overlay */
}

.footer h5 {
  font-size: 1.25rem;
  font-weight: bold;
}

.footer p,
.footer a {
  font-size: 0.9rem;
}

.footer .social-icons a {
  color: white;
  transition: color 0.3s;
}
.map-container {
  position: relative;
  width: 100%;
  max-width: 100%; /* Ensures responsiveness */
  height: 150x; /* Adjust height as needed */
  border-radius: 10px; /* Rounded corners */
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow effect */
}

.map-container iframe {
  width: 100%;
  height: 100%;
  border: none;
}

/* Adjust text styling */
.find-us h5 {
  color: #004085; /* Dark blue color */
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 15px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .map-container {
    height: 250px;
    width:70vw;
    margin:auto;
  }
}

@media (max-width: 480px) {
  .map-container {
    height: 150px;
  }
}
/