{% extends 'main.html'%} {% load static %} {% block title %}Home - G.M ORINA &
CO.ADVOCATES{% endblock title %} {% block content %}
<section>
  <!-- Bootstrap Carousel -->
  <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="overlay"></div>
        <div class="carousel-caption">
          <h2>Expert Legal Representation You Can Trust</h2>
          <p>Call Now for Immediate Assistance.</p>
          <a
            href="https://wa.me/254712694826?text=Hello%2C%20I'm%20interested%20in%20your%20services"
            target="_blank"
            ><button>Chat with Our Lawyer</button></a
          >
        </div>
      </div>
      <!-- Slide 3 -->
      <div class="carousel-item">
        <!-- Overlay for Background Image -->
        <div class="overlay"></div>
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Left Column: Text Content -->
            <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <div class="text-center text-white p-4">
              <p class="lead">
                G.M Orina & Co. Advocates is a Kenyan based law firm providing
                legal counsel and solutions to a wide range of clients in
                Kenya, Africa, and globally.
              </p>
            </div>
          </div>
          <!-- Right Column: Logo or Image -->
            <div
            class="col-md-6 d-flex justify-content-center align-items-center"
          >
            <img
              src="{% static 'images/gm logo.PNG' %}"
              alt="GM Orina & Co. Advocates Logo"
              class="img-fluid rounded"
            />
          </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <!-- Overlay for Background Image -->
        <div class="overlay"></div>
        <div class="container h-100">
          <div class="row h-100 align-items-center">
            <!-- Left Column: Image (Hidden on small screens) -->
            <div class="col-md-6 d-none d-md-flex justify-content-center align-items-center">
              <img src="{% static 'images/core.jpg' %}" alt="Core Values" class="img-fluid rounded" />
            </div>
            <!-- Right Column: Text Content -->
            <div class="col-md-6 d-flex flex-column align-items-start text-start text-white p-4">
              <div class="mb-3">
                <i class="fas fa-clock fa-2x"></i>
                <h3>Effectiveness</h3>
                <p class="lead">
                  We recognize that our client's concerns are crucial. We are quick to respond to their concerns and act upon them promptly.
                </p>
              </div>
              <div class="mb-3">
                <i class="fas fa-chart-line fa-2x"></i>
                <h3>Performance Excellence</h3>
                <p class="lead">
                  We are responsible professionals. We strive to meet and even exceed Client expectations.
                </p>
              </div>
              <div>
                <i class="fas fa-balance-scale fa-2x"></i>
                <h3>Integrity</h3>
                <p class="lead">
                  We recognize that long-lasting and successful business relationships are built on integrity, which is one of our core values.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
    <!-- Carousel Controls -->
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExample"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>

<section>
  <div class="container legal-section">
    <div class="row align-items-center">
        <!-- Left Column: Image -->
        <div class="col-md-6 left-column">
            <img src="{% static 'images/core.jpg' %}" alt="Legal Partner" class="img-fluid rounded shadow">
        </div>
        
        <!-- Right Column: Text -->
        <div class="col-md-6 right-column">
            <div class="legal-text">
                <h2>Your trusted Legal Partner</h2>
                <hr>
                <p>
                    G.M Orina & Co. Advocates is a medium-sized law firm providing legal counsel and solutions
                    to a wide range of clients in Kenya, Africa, and globally.
                </p>
            </div>
        </div>
    </div>
  </div>
</section>



<div class="image-container1">
  <div class="overlay1"></div>
  <div class="parallex1">
    <h1>We Help Solve Your Legal Issues</h1>
    <p>Reach out to us today!</p>
    <div class="contact-icons">
      <a href="tel:+254786437754"
        ><i class="fas fa-phone fa-2x" style="color: white"></i
      ></a>
      <a href="mailto:gmorinaadvocates@gmail.com">
        <i class="fas fa-envelope fa-2x" style="color: white"></i>
      </a>

      <a
        href="https://wa.me/254712694826?text=Hello%2C%20I'm%20interested%20in%20your%20services"
        target="_blank"
      >
        <i class="fab fa-whatsapp fa-2x" style="color: white"></i
      ></a>
    </div>
  </div>
</div>
<section class="insights-container">
  <h2 class="section-title">LATEST INSIGHTS</h2>
  <div class="container">
    <div class="row">
      {% for blog in blogs %}
      <div class="col-sm-12 col-md-3">
        <div class="image-card">
          <img
            src="{% if blog.cover_image %}{{ blog.cover_image.url }}{% else %}{{ MEDIA_URL }}blog_covers/default_cover.jpg{% endif %}"
            class="card-image"
            alt="{{ blog.title }}"loading="lazy"
          />
          <div class="overlay"></div>
          <div class="card-body">
            <p class="publish-info">
              Published on:{{ blog.published_at}} <br />By: {{ blog.author }}
            </p>
            <a href="{% url 'blog_page' blog.id %}">
              <p class="article-title">{{ blog.title }}</p>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<div class="image-container2">
  <div class="parallex2">
    <h3>Don't Wait Any Longer</h3>
    <h1>Contact Us Today!</h1>
    <p><i class="fas fa-phone"><a href="tel:+254786437754"
      ></i> +254786437754!</p><a/>
  </div>
  <div class="overlay2"></div>
</div>
<section>
  <div class="container-review">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="testimonial-section">
          <div class="testimonial-content">
            <div class="testimonial-text">
              <h3>
                <span class="line"></span> What our <br />
                <strong>clients say.</strong>
              </h3>
              <p>
                Here's what clients had to say regarding their <br />
                experience with our Legal Services
              </p>
            </div>
            <div class="testimonial-image">
              <div class="elfsight-widget">
                <script
                  src="https://apps.elfsight.com/p/platform.js"
                  defer
                ></script>
                <div
                  class="elfsight-app-32de8ae5-f5ad-4dbb-893a-e04eccf15800"
                  data-elfsight-app-lazy
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <h2>Talk To Us</h2>
        <div class="container">
          <div class="form-container">
            <form method="POST" action="">
              {% csrf_token %}

              <div class="mb-3">
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  placeholder="Your name"
                  value="{{ form.name.value|default:'' }}"
                  required
                />
                {% if form.name.errors %}
                <div class="text-danger">{{ form.name.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="mb-3">
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  placeholder="Your email"
                  value="{{ form.email.value|default:'' }}"
                  required
                />
                {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors.0 }}</div>
                {% endif %}
              </div>

              <div class="mb-3">
                <textarea
                  class="form-control"
                  name="message"
                  placeholder="Your message"
                  rows="4"
                  required
                >
                {{ form.message.value|default:'' }}</textarea
                >
                {% if form.message.errors %}
                <div class="text-danger">{{ form.message.errors.0 }}</div>
                {% endif %}
              </div>

              <button type="submit" class="btn btn-submit w-100">
                Get In Touch
              </button>

              {% if success_message %}
              <div class="alert alert-success mt-3">{{ success_message }}</div>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
